@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }

    .top-nav {
        gap: 1em;
        flex-wrap: wrap;
    }

    .section-one > div {
        flex: 0 0 calc(100% - 2em);
        max-width: 100%;
    }

    .product-section > .item {
        flex: 1 1 45%;
        max-width: 45%;
    }

    .form-container {
        padding: 2em 1em;
        max-width: 95%;
    }

    .form-row {
        gap: 1em;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.7em;
    }

    .section-one > div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-section > .item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .wrapper {
        padding: 1em 0.5em;
    }

    .top-nav a, .nav-container a {
        font-size: 1em;
        padding: 0.4em;
    }

    .form-row {
        flex-direction: column;
        gap: 1em;
    }

    .form-group.buttons {
        flex-direction: column;
        gap: 1em;
    }

    .form-container textarea {
        height: 250px;
    }

    .image-home {
        height: 400px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    .top-nav {
        flex-direction: column;
        gap: 0.8em;
    }

    .top-nav a, .nav-container a {
        font-size: 0.9em;
        padding: 0.3em;
    }

    .section-one {
        padding: 1em;
        gap: 1em;
    }

    .section-one > div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-section > .item {
        max-width: 100%;
    }

    .form-container {
        padding: 1.5em 1em;
    }

    .form-container textarea {
        height: 200px;
    }

    .image-home {
        height: 300px;
    }

    .logo {
        width: 4em;
    }

    .burger-btn {
        display: block;
    }

    .user-menu-content{
        right: -22em;
        min-width: 250px;
        min-height: 200px;
        top: -10em;
    }

    .user-menu-content a,
    .user-menu-content form{
        font-size: 2em !important;
    }

    #topNavMenu,
    #productNavMenu {
        display: none;
    }

    #topNavMenu.active,
    #productNavMenu.active {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgb(27,27,27);
        padding: 10px;
        border-top: 1px solid #ccc;
    }
}
