{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'reset-styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>{% block title %}Ivaka Computers{% endblock %}</title>
</head>

<body class="about-page">
<header>
    <div class="container">
        <div class="wrapper">
            <div class="shadow">
                <img src="{% static 'images/Logo.png' %}" alt="IvakaComputers" class="logo"/>
            </div>
            {% if user.is_authenticated %}
                <nav class="top-nav">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'help' %}">Help</a>
                    <a href="{% url 'help' %}">Help</a>
                    <a href="{% url 'about' %}">About Us</a>
                    <div class="user-menu" id="userMenu">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div class="user-menu-content" id="userMenuContent">
                            <a href="{% url 'profile' %}">Settings</a>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </nav>
            {% else %}
                <nav class="top-nav">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'help' %}">Help</a>
                    <a href="{% url 'about' %}">About Us</a>
                    <a href="{% url 'login' %}">Login</a>
                </nav>
            {% endif %}
        </div>
    </div>
</header>

<section>
    <nav class="nav-container">
        <a href="{% url 'product-cpu' %}">CPU</a>
        <a href="{%  url 'product-gpu' %}">GPU</a>
        <a href="#">Motherboards</a>
        <a href="#">RAM</a>
        <a href="#">Built Computers</a>
        <a href="#">HOT DEALS</a>
    </nav>
</section>

<div class="page-content">
    {% block content %}
    {% endblock %}
</div>

<footer class="footer">
    <p>© 2025 Ivaka Computers. All rights reserved.</p>
</footer>
<script src="{% static 'menu.js' %}"></script>
</body>
</html>
