{% extends 'base.html' %}
{% load static %}
{% block content %}
    <article>
        <h2>Why We Sell the Best Products on the Market</h2>
        <section class="section-one">
            <div class="item">
                <h3>Premium-Grade Components Only</h3>
                <img class="image-home" src="images/DSC02157.webp" alt="flashy high end gam computer"/>
                <p>
                    Here at <span>IvakaComputers</span> , we don't just sell PC parts — we build performance,
                    reliability, and trust into every product we offer.
                </p>
            </div>
            <div class="item">
                <h3>Tested and Trusted</h3>
                <img class="image-home" src="images/man-pc-2.jpg" alt="people holding hands"/>
                <p>
                    Each system and part goes through strict quality checks. No shortcuts — just rock-solid performance.
                </p>
            </div>
            <div class="item">
                <h3>Built by Experts</h3>
                <img class="image-home" src="images/man-pc-3.webp" alt="people building an insane pc"/>
                <p>
                    Our PCs are built by experienced technicians. You're not getting an assembly line product — you're
                    getting
                    quality craftsmanship.
                </p>
            </div>
            <div class="item">
                <h3>Tailored to Your Needs</h3>
                <img class="image-home" src="images/man-pc-4.jpeg" alt="man building a pc"/>
                <p>
                    From budget builds to 4K gaming rigs or workstations — we've got the right system for you.
                </p>
            </div>
            <div class="item">
                <h3>Unmatched Customer Support</h3>
                <img class="image-home" src="images/man-pc-5.webp" alt="customer support workers"/>
                <p>
                    Get personalized support, upgrade advice, and troubleshooting — even after your purchase.
                </p>
            </div>
            <div class="item">
                <h3>Competitive Pricing Without Gimmicks</h3>
                <img class="image-home" src="images/man-pc-6.jpg" alt="a man making an X with his hands"/>
                <p>
                    Performance, value, and long-lasting hardware — all priced fairly. <span>IvakaComputers</span> build
                    configurations for gamers, not big tech companies.
                </p>
            </div>
        </section>
    </article>
    <button id="scrollToTopBtn" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </button>

    <script src="{% static 'scroll.js' %}"></script>
{% endblock %}



