{% extends 'base.html' %}
{% block content %}
    <title>Login</title>
    <div class="form-container">
        <form method="post" class="login-items">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group buttons login-buttons">
                <button type="submit">Login</button>
            </div>
            <nav class="top-nav" style="margin-top: 1em ">
                <a href="{% url 'register' %}"> You don't have an account ? Register here !</a>
            </nav>
        </form>
    </div>
{% endblock %}
