{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container border">
        <article>
            <section class="section-one product-section">
                {% for cpu in cpus %}
                    <div class="item">
                        <h3>{{ cpu.name }}</h3>
                        <img class="image-product" src="{{ cpu.image }}" alt="{{ cpu.name }}"/>
                        <section class="section-product-desc">
                            <div>
                                <li>CORES: {{ cpu.cores }}</li>
                                <li>THREADS: {{ cpu.threads }} threads</li>
                                <li>CACHE: {{ cpu.cache }}</li>
                            </div>

                            <div>
                                <button type="submit">Buy</button>
                                {% if user.is_staff %}
                                    <div class="admin-buttons">
                                        <a class="action-btn edit-btn" href="{% url 'cpu_edit' cpu.id %}">Edit</a>
                                        <a class="action-btn delete-btn" href="{% url 'cpu_delete' cpu.id %}">Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                        <span class="price">Price: {{ cpu.price }} €</span>
                    </div>
                {% empty %}
                    <p>No CPUS found.</p>
                {% endfor %}
            </section>
        </article>
        <div class="pagination" style="text-align: center; margin: 2em 0;">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&#8592; Previous</a>
            {% endif %}

            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" style="margin-left: 2em;">Next &#8594;</a>
            {% endif %}
        </div>
    </div>

    <button id="scrollToTopBtn" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </button>

    <script src="{% static 'scroll.js' %}"></script>
{% endblock %}