{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>Product RAM</title>
    <article>
        <section class="section-one product-section">
            <div class="item">
                <h3>AMD RYZEN 5 5500</h3>
                <img class="image-product" src="{% static 'images/amd_ryzen_5_5500.png' %}"
                     alt="flashy high end gam computer"/>
                <section class="section-product-desc">
                    <div>
                        <li>
                            6 cores / 12 threads
                        </li>
                        <li>
                            3.60 - 4.20GHz
                        </li>
                        <li>
                            16MB L3 cache
                        </li>
                    </div>
                    <div>
                        <button type="submit">Buy</button>
                    </div>
                </section>
                <span class="price">
                    Price: 260 €
                </span>
            </div>
            <div class="item">
                <h3>AMD RYZEN 5 5600</h3>
                <img class="image-product" src="{% static 'images/amd_ryzen_5_5500.png' %}" alt="people holding hands"/>
                <section class="section-product-desc">
                    <div>
                        <li>
                            6 cores / 12 threads
                        </li>
                        <li>
                            3.60 - 4.20GHz
                        </li>
                        <li>
                            16MB L3 cache
                        </li>
                    </div>
                    <div>
                        <button type="submit">Buy</button>
                    </div>
                </section>
                <span class="price">
                    Price: 260 €
                </span>
            </div>
            <div class="item">
                <h3>AMD RYZEN 5 5600X</h3>
                <img class="image-product" src="{% static 'images/amd_ryzen_5_5500.png' %}"
                     alt="people building an insane pc"/>
                <section class="section-product-desc">
                    <div>
                        <li>
                            6 cores / 12 threads
                        </li>
                        <li>
                            3.60 - 4.20GHz
                        </li>
                        <li>
                            16MB L3 cache
                        </li>
                    </div>
                    <div>
                        <button type="submit">Buy</button>
                    </div>
                </section>
                <span class="price">
                    Price: 260 €
                </span>
            </div>
            <div class="item">
                <h3>AMD RYZEN 7 5700</h3>
                <img class="image-product" src="{% static 'images/amd_ryzen_5_5500.png' %}" alt="man building a pc"/>
                <section class="section-product-desc">
                    <div>
                        <li>
                            6 cores / 12 threads
                        </li>
                        <li>
                            3.60 - 4.20GHz
                        </li>
                        <li>
                            16MB L3 cache
                        </li>
                    </div>
                    <div>
                        <button type="submit">Buy</button>
                    </div>
                </section>
                <span class="price">
                    Price: 260 €
                </span>
            </div>
            <div class="item">
                <h3>AMD RYZEN 9 7950X3D</h3>
                <img class="image-product" src="{% static 'images/amd_ryzen_5_5500.png' %}"
                     alt="customer support workers"/>
                <section class="section-product-desc">
                    <div>
                        <li>
                            6 cores / 12 threads
                        </li>
                        <li>
                            3.60 - 4.20GHz
                        </li>
                        <li>
                            16MB L3 cache
                        </li>
                    </div>
                    <div>
                        <button type="submit">Buy</button>
                    </div>
                </section>
                <span class="price">
                    Price: 260 €
                </span>
            </div>
            <div class="item">
                <h3>AMD RYZEN 5 5600G</h3>
                <img class="image-product" src="{% static 'images/amd_ryzen_5_5500.png' %}"
                     alt="a man making an X with his hands"/>
                <section class="section-product-desc">
                    <div>
                        <li>
                            6 cores / 12 threads
                        </li>
                        <li>
                            3.60 - 4.20GHz
                        </li>
                        <li>
                            16MB L3 cache
                        </li>
                    </div>
                    <div>
                        <button type="submit">Buy</button>
                    </div>
                </section>
                <span class="price">
                    Price: 260 €
                </span>
            </div>
        </section>
    </article>
    <button id="scrollToTopBtn" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </button>
    <script src="{% static 'scroll.js' %}"></script>
{% endblock %}
