{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container border">
        <article>
            <section class="section-one product-section">
                {% for gpu in gpus %}
                    <div class="item">
                        <h3>{{ gpu.name }}</h3>
                        <img class="image-product" src="{{ gpu.image }}" alt="{{ gpu.name }}"/>
                        <section class="section-product-desc">
                            <div>
                                <li>BUS: {{ gpu.bus }}</li>
                                <li>MEMORY: {{ gpu.memory }}</li>
                                <li>MEMORY TYPE: {{ gpu.memory_type }}</li>
                            </div>
                            <div>
                                <button type="submit">Buy</button>
                            </div>
                        </section>
                        <span class="price">Price: {{ gpu.price }} €</span>
                    </div>
                {% empty %}
                    <p>No GPUs found.</p>
                {% endfor %}
            </section>
        </article>
        <div class="pagination" style="text-align: center; margin: 2em 0;">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&#8592; Previous</a>
            {% endif %}

            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" style="margin-left: 2em;">Next &#8594;</a>
            {% endif %}
        </div>
    </div>

    <button id="scrollToTopBtn" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </button>

    <script src="{% static 'scroll.js' %}"></script>
{% endblock %}